{% extends 'base.html.twig' %}

{% block title %}Hello Base5Controller!{% endblock %}

{% block body %}
<!-- build an embossed frame for div yivawo -->	
<style>
    #yivawo{
        margin-bottom:4px;   
        box-shadow: 1px 1px 0px 0px #cdbe9f; 
        width:94%; 
        height:100%; 
        scrollbar:auto;
                     
        margin:auto;				  
        box-shadow:
          0px 8px 8px 0px rgba(0, 0, 0, 0.5) inset,
           0px 8px 8px 0px rgba(255, 255, 255, 0.5); 		 
    }
    .date_export {
        height:18px; width:150px;
    }

    .label_envoi{
        margin-left:-150px;  margin-top:14px;  float:left; color:silver;
    }
    .label_retour{
        margin-left:-150px; margin-top:-14px;  float:left; color:silver;
    }
    .label_distrib{
        margin-left:-150px; margin-top:-14px;  float:left; color:silver; 
    }

    .tracked_date{
        max-width:60px; margin-top:-38px; float:right; margin-right:35px;
    }

    .span_label{
        margin-left:40px; margin-top:-38px;   float:left;          
   }

</style>

<div ng-app="myApp" >
    <div id="wrap">
        <!--  creux du haut -->
        <div id="header"   >	
            <div  class="hollowTop"> 
                <input type=image src=/img/drapeau.png id="beramu" style="border-radius:0px;" /> 
                <h1 class="titre" >FICHE EXPORT  </h1>
            </div>	   	    
        </div>

        <!-- NAVIGATION HORIZONTAL -->	
        <div id="nav">
            <div class="topnav" id="myTopnav">

                <div class="dropdown" >
                    <button class="dropbtn">2015 <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <a href="#" id="J2015">Janvier-2015</a>
                        <a href="#">Février-2015</a>
                        <a href="#">Mars-2015</a>
                        <a href="#">Avril-2015</a>
                        <a href="#">Mai-2015</a>
                        <a href="#">Juin-2015</a>
                        <a href="#">Juillet-2015</a>
                        <a href="#">Août-2015</a>
                        <a href="#">Septembre-2015</a>
                        <a href="#">Octobre-2015</a>
                        <a href="#">Novembre-2015</a>
                        <a href="#">Décembre-2015</a>
                    </div>
                </div>
                <div class="dropdown">
                            <button class="dropbtn">2016 <i class="fa fa-caret-down"></i></button>
                            <div class="dropdown-content">
                            <a href="#">Janvier-2016</a>
                            <a href="#">Février-2016</a>
                            <a href="#">Mars-2016</a>
                            <a href="#">Avril-2016</a>
                            <a href="#">Mai-2016</a>
                            <a href="#">Juin-2016</a>
                            <a href="#">Juillet-2016</a>
                            <a href="#">Août-2016</a>
                            <a href="#">Septembre-2016</a>
                            <a href="#">Octobre-2016</a>
                            <a href="#">Novembre-2016</a>
                            <a href="#">Décembre-2016</a>
                            </div>
                </div>
                <div class="dropdown">
                            <button class="dropbtn">2017 <i class="fa fa-caret-down"></i></button>
                            <div class="dropdown-content">
                            <a href="#">Janvier-2017</a>
                            <a href="#">Février-2017</a>
                            <a href="#">Mars-2017</a>
                            <a href="#">Avril-2017</a>
                            <a href="#">Mai-2017</a>
                            <a href="#">Juin-2017</a>
                            <a href="#">Juillet-2017</a>
                            <a href="#">Août-2017</a>
                            <a href="#">Septembre-2017</a>
                            <a href="#">Octobre-2017</a>
                            <a href="#">Novembre-2017</a>
                            <a href="#">Décembre-2017</a>
                            </div>
                </div>								  
                                
                <div class="dropdown">
                            <button class="dropbtn">2021 <i class="fa fa-caret-down"></i></button>
                            <div class="dropdown-content">
                            <a href="#">Janvier-2021</a>
                            <a href="#">Février-2021</a>
                            <a href="#">Mars-2021</a>
                            <a href="#">Avril-2021</a>
                            <a href="#">Mai-2021</a>
                            <a href="#">Juin-2021</a>
                            <a href="#">Juillet-2022</a>
                            <a href="#">Août-2022</a>
                            <a href="#">Septembre-2022</a>
                            <a href="#">Octobre-2022</a>
                            <a href="#">Novembre-2022</a>
                            <a href="#">Décembre-2022</a>
                            </div>
                </div>								  
                <div class="dropdown">
                            <button class="dropbtn">2023 <i class="fa fa-caret-down"></i></button>
                            <div class="dropdown-content">
                            <a href="#">Janvier-2023</a>
                            <a href="#">Février-2023</a>
                            <a href="#">Mars-2023</a>
                            <a href="#">Avril-2023</a>
                            <a href="#">Mai-2023</a>
                            <a href="#">Juin-20123</a>
                            <a href="#">Juillet-2023</a>
                            <a href="#">Août-2023</a>
                            <a href="#">Septembre-2023</a>
                            <a href="#">Octobre-2023</a>
                            <a href="#">Novembre-2023</a>
                            <a href="#">Décembre-2023</a>
                            </div>
                </div>								  
                <div class="dropdown">
                            <button class="dropbtn">2024 <i class="fa fa-caret-down"></i></button>
                            <div class="dropdown-content">
                            <a href="#">Janvier-2024</a>
                            <a href="#">Février-2024</a>
                            <a href="#">Mars-2024</a>
                            <a href="#">Avril-2024</a>
                            <a href="#">Mai-2024</a>
                            <a href="#">Juin-2024</a>
                            <a href="#">Juillet-2024</a>
                            <a href="#">Août-2024</a>
                            <a href="#">Septembre-2024</a>
                            <a href="#">Octobre-2024</a>
                            <a href="#">Novembre-2024</a>
                            <a href="#">Décembre-2024</a>
                            </div>
                </div>
                <div class="dropdown">
                            <button class="dropbtn">2025 <i class="fa fa-caret-down"></i></button>
                            <div class="dropdown-content">
                            <a href="#">Janvier-2025</a>
                            <a href="#">Février-2025</a>
                            <a href="#">Mars-2025</a>
                            <a href="#">Avril-2025</a>
                            <a href="#">Mai-2025</a>
                            <a href="#">Juin-2025</a>
                            <a href="#">Juillet-2025</a>
                            <a href="#">Août-2025</a>
                            <a href="#">Septembre-2025</a>
                            <a href="#">Octobre-2025</a>
                            <a href="#">Novembre-2025</a>
                            <a href="#">Décembre-2025</a>
                            </div>
                </div>
                <div class="dropdown">
                            <button class="dropbtn">2026 <i class="fa fa-caret-down"></i></button>
                            <div class="dropdown-content">
                            <a href="#">Janvier-2026</a>
                            <a href="#">Février-2026</a>
                            <a href="#">Mars-2026</a>
                            <a href="#">Avril-2026</a>
                            <a href="#">Mai-2026</a>
                            <a href="#">Juin-2026</a>
                            <a href="#">Juillet-2026</a>
                            <a href="#">Août-2026</a>
                            <a href="#">Septembre-2026</a>
                            <a href="#">Octobre-2026</a>
                            <a href="#">Novembre-2026</a>
                            <a href="#">Décembre-2026</a>
                            </div>
                </div>								  
                <div class="dropdown">
                            <button class="dropbtn">2027 <i class="fa fa-caret-down"></i></button>
                            <div class="dropdown-content">
                            <a href="#">Janvier-2027</a>
                            <a href="#">Février-2027</a>
                            <a href="#">Mars-2027</a>
                            <a href="#">Avril-2027</a>
                            <a href="#">Mai-2027</a>
                            <a href="#">Juin-2027</a>
                            <a href="#">Juillet-2027</a>
                            <a href="#">Août-2027</a>
                            <a href="#">Septembre-2027</a>
                            <a href="#">Octobre-2027</a>
                            <a href="#">Novembre-2027</a>
                            <a href="#">Décembre-2027</a>
                            </div>
                </div>								  
                <div class="dropdown">
                            <button class="dropbtn">2028 <i class="fa fa-caret-down"></i></button>
                            <div class="dropdown-content">
                            <a href="#">Janvier-2028</a>
                            <a href="#">Février-2028</a>
                            <a href="#">Mars-2028</a>
                            <a href="#">Avril-2028</a>
                            <a href="#">Mai-2028</a>
                            <a href="#">Juin-2028</a>
                            <a href="#">Juillet-2028</a>
                            <a href="#">Août-2028</a>
                            <a href="#">Septembre-2028</a>
                            <a href="#">Octobre-2028</a>
                            <a href="#">Novembre-2028</a>
                            <a href="#">Décembre-2028</a>
                            </div>
                </div>								  
                <div class="dropdown">
                    <button class="dropbtn">2029 <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <a href="#">Janvier-2029</a>
                        <a href="#">Février-2029</a>
                        <a href="#">Mars-2029</a>
                        <a href="#">Avril-2029</a>
                        <a href="#">Mai-2029</a>
                        <a href="#">Juin-2029</a>
                        <a href="#">Juillet-2029</a>
                        <a href="#">Août-2029</a>
                        <a href="#">Septembre-2029</a>
                        <a href="#">Octobre-2029</a>
                        <a href="#">Novembre-2029</a>
                        <a href="#">Décembre-2029</a>
                    </div>                                           
                </div>                                 								  
                <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>							  
                <input type="text" id="search" placeholder="Search"   style=" margin-top:10px; margin-right:20px; float:right; background-color:#FFF;" /> 
            </div>
            <span type="text"  id="search_span" style="  margin-right:12px; margin-top:10px; float:right; " > <img src="/img/search-icon.png"  />  </span>
        </div><!-- fin div#nav -->

        <div id="main">
            <div id="navgauche">
                {{ form_start(formPasseport) }}
                    <div class="section">
                        <br>
                        {# {{ form_widget(form.save, { 'label': 'Click me' }) }} #}
                        {{form_widget(formPasseport.nom , {'attr':  {'placeholder':"Nom", 'ng-model':"firstName", 'id':"afficher_pendant_la_saisaie_passeport" }})}}
                        {{form_widget(formPasseport.prenom , {'attr': {'placeholder':"Prenom", 'ng-model':"lastName" }})}}
                        {{form_widget(formPasseport.montant , {'attr': {'placeholder':"Montant", 'ng-model':"amount" }})}}
                    </div>
                    <div class="section">
                        <br>
                        {# {{form_widget(formPasseport.observation , {'attr': {'placeholder':"observation", 'ng-model':"observation", 'title':"observation" }})}}  #} 
                        {{form_widget(formPasseport.observation )}}                         
                        {{form_widget(formPasseport.lot )}}  				
                        {{form_widget(formPasseport.date_export , {'attr': { 'ng-model':"date", 'class':"date_export" }})}} 
                    </div>
                    <div class="section">		     
                        {{ form_widget(formPasseport.dossier_expedie, {'attr': { 'id':"dossier_expedie", 'class':"label_envoi" }})}}    <span class="span_label">Envoi</span> {{form_widget(formPasseport.date_expedie , {'attr': { 'ng-model':"envoi", 'class':"tracked_date", 'id':"date_expedie" }})}}
                        {{ form_widget(formPasseport.passeport_arrive, {'attr': { 'id':"passeport_arrive", 'class':"label_retour" }})}} <span class="span_label">Retour</span> {{form_widget(formPasseport.date_arrive , {'attr': { 'ng-model':"retour", 'class':"tracked_date", 'id':"date_arrive" }})}} 
                        {{ form_widget(formPasseport.passeport_livre, {'attr': { 'id':"passeport_livre", 'class':"label_distrib" }})}}  <span class="span_label">Distrib</span>{{form_widget(formPasseport.date_livraison , {'attr': { 'ng-model':"distribution", 'class':"tracked_date", 'id':"date_livraison" }})}}
                    </div>
                    
                    <div class="section" >		                                   
                        <button type="submit" style="background-color: #D4D7C4;  height: 30px; width:150px;">
                           <a href="#">Enregistrer</a>        
                        </button>                       
                    </div>
                                                                
                                                       
                {{ form_end(formPasseport) }} 
            </div> <!-- fin navgauche -->

            <!-- debut article(affichage resultat de la base de donnée) -->
	        <div id="article">	         
                <div id="yivawo"   >		   
                   <div  ng-controller="datCtrl" style="text-align: left; margin-left:2.5%;">
                        Date du jour ?
                    </div>
                   <div style="text-align: center; margin-top:-20px; ">
                       {{" LOT:  "  }} 
                    </div>			 			
                   <table >
                       <tr><th>NOM</th><th>PRENOM</th><th> ENVOI </th><th>RETOUR  </th><th>DISTRIBUTION </th><th>observation</th><th> €  </th> <th>DATE </th>  <tr>							 
                       <tr><td>firstName</td><td>lastName</td><td>envoi </td><td>retour</td><td>distribution  </td><td>observation</td><td>amount</td><td> date </td></tr>               
                       <tr><td></td><td></td><td>  </td><td>  </td><td> </td><td><span style="color:green;  font-size: 17px; font-style: bold;" >TOTAL :</span> </td><td><span style="color:green;  font-size: 17px; font-style: bold;" >amount</span> </td><td> </td>  <tr> 
                   </table>			
                </div> <!-- #yivawo -->     			 
            </div> <!-- fin #article -->

            <div id="aside"  >
                <!-- menu accordeon -->		  
                <img src="/img/menu.png" id="iconemenu" style=" z-index=4; position:fixed; top:7%; right:5.5%; " /><br>
                <img src="/img/menu.png" id="imagemenu" style=" z-index=4; position:fixed; top:7%; right:5.5%; " /><br>
                        <!-- menu accordeon -->
    
                <ul class="navigation"  >	<!-- margin-top:-19.5%; pour LES GRAND ECRAN-->
                    <li class="toggleSubMenu"><span>Passeports</span>
                        <ul class="subMenu" id="seulement_les_passeports" style="color:silver;" >
                        <li id="envoi"><a href="#" title=""  style="color:white;" >Envois</a></li>
                        <li id="retour"><a href="#" title=""  style="color:white;" >Retours</a></li>
                        <li id="distrib_mensuel"><a href="#" title=""  style="color:white;" >Distrib(mensuel)</a></li>
                        <li id="distrib_annuel"><a href="#" title=""  style="color:white;" >Distrib(annuel)</a></li>
                        <li id="distrib_tous"><a href="#" title=""  style="color:white;" >Distributions</a></li>
                        </ul>
                    </li>
                    <li class="toggleSubMenu"><span>Recettes Etat civil</span>
                        <ul class="subMenu" id="seulement_les_recettes" style="color:silver;" >						
                            <li><a href="lectureBD_recette_legalisation.html" title="" style="color:white;">Légalisation</a></li>
                        </ul><!-- fin ul.subMenu -->
                    </li>
                    <li class="toggleSubMenu"><span>Caisse</span>
                        <ul class="subMenu" id="seulement_les_caisses" style="color:silver;" >						
                            <li><a href="lectureBD_caisse.html" title="" style="color:white;">Journal de caisse</a></li>
                        </ul>
                    </li>		
                    <li><a href="#" title="">Cartes consulaires</a></li>			
                </ul> <!-- fin menu accordeon --> 		   
            </div><!-- #aside -->
            <div class="clear"></div>
        </div> <!-- #main -->
        <div id="footer"></div>
    </div><!-- wrap -->
</div><!-- ng-app -->

<script>
    // to use AngularJS for the current date
    var app = angular.module('myApp', []);
    app.controller('datCtrl', function($scope) {
    $scope.today = new Date();
    });
   
</script>

{% endblock %}
